.checkout {
  display: flex;
  padding: 1.25rem;
  background-color: white;
  height: max-content;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 0.625rem;
}

.checkout__title {
  margin-right: 0.625rem;
  padding: 0.625rem;
  border-bottom: 1px solid lightgray;
}
